@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-gaming-bg: #050505;
  --color-gaming-card: #0f1014;
  --color-gaming-accent: #fbbf24;
  --color-gaming-secondary: #3b82f6;
  --color-gaming-text: #e2e8f0;
  --color-gaming-muted: #64748b;
}

:root {
  --background: var(--color-gaming-bg);
  --foreground: var(--color-gaming-text);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), system-ui, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-gaming-bg); 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}

